<div mat-dialog-container class="error-dialog-container">
    <div class="error-dialog-header">
        <h2>Error</h2>
    </div>
    <div mat-dialog-content>
        <p><strong>Path:</strong> {{ data.path }}</p>
        <p><strong>Status Code:</strong> {{ data.statusCode }}</p>
        <p><strong>Message:</strong> {{ data.message }}</p>
        <p><strong>Timestamp:</strong> {{ data.localDateTime }}</p>
    </div>
    <div mat-dialog-actions class="error-dialog-actions">
        <button mat-button color="primary" (click)="close()">OK</button>
    </div>
</div>